<div class='container'>
  <div class="row justify-content-center">
    <h4 class="px-5 py-2 mt-5 ml-lg-5 text-dark">お問い合わせ内容確認</h4>
  </div>
  <div class='row justify-content-center'>
    <div class='col-lg-10'>
      <%= form_for @inquiry, :url => inquiry_thanks_path do |f| %>
        <table class="table">
          <tr>
            <th class="text-nowrap">お名前</th>
            <td>
              <%= f.hidden_field :name %>
              <%= @inquiry.name %>
            </td>
          </tr>
          <tr>
            <th class="text-nowrap">メールアドレス</th>
            <td>
              <%= f.hidden_field :email %>
              <%= @inquiry.email %>
            </td>
          </tr>
          <tr>
            <th class="text-nowrap">お問い合わせ内容</th>
            <td>
              <%= f.hidden_field :message %>
              <%= simple_format(@inquiry.message) %>
            </td>
          </tr>
        </table>
        <div class="text-center">
          <%= f.submit '送信する', :class => 'btn btn-primary' %>
          <a href="#" onclick="if(document.referrer) {window.open(document.referrer,'_self');} else {history.go(-1);} return false;" class="btn btn-outline-dark">入力画面に戻る</a>
        </div>
      <% end %>
    </div>
  </div>
</div>