<div class='container'>
  <div class='row'>
    <div class='col'>
      <% if composers.present? %>
        <table id="sort-table" class='table table-sm table-hover'>
          <thead>
            <tr class="thead-dark">
              <th class="text-nowrap">作曲家名(カナ)</th>
              <th class="text-nowrap">作曲家名</th>
              <th class="text-nowrap">登録楽曲数</th>
              <th class="text-nowrap">総コメント数</th>
            </tr>
          </thead>
          <tbody>
            <% composers.each do |composer| %>
              <% if composer.is_active == true %>
                <tr>
                  <td class="text-left">
                    <%= link_to composer_path(composer) do %>
                      <%= composer.name_kana %>
                    <% end %>
                  </td>
                  <td class="text-left">
                    <%= link_to composer_path(composer) do %>
                      <%= composer.name_lang_en %>
                    <% end %>
                  </td>
                  <td><%= composer.musical_pieces.count %></td>
                  <td>
                    <!--総コメント数totalを初期化-->
                    <% total = 0 %>
                    <% composer.musical_pieces.each do |cm| %>
                      <% total += cm.musical_piece_comment_ids.count %>
                    <% end %>
                    <%= total %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <div class="text-center pt-lg-5">
          <span class='text-white bg-danger h4 px-3'><i class="fas fa-exclamation-circle"></i> 検索結果はありません</span><br>
          <span class='text-white bg-info h4 px-3'><i class="fas fa-question-circle"></i> "楽曲"検索、"作曲家"検索の指定は正しいですか?</span><br>
          <span class='text-white bg-info h4 px-3'><i class="fas fa-question-circle"></i> 西暦検索の指定範囲は正しいですか?</span><br>
          <p class="bg-infomation col-lg-8 offset-lg-2">
          あなたが検索した作曲家はデータ登録<span class="br"></span>されていない可能性が高いです。<br>
          上部メニューバーにある<span class="font-weight-bold">お問合わせ</span>フォームにて<span class="br"></span>運営まで送信していただければ幸いです。
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>

