<div class='container'>
  <div class="row justify-content-center">
    <div class="col-lg-3">
      <h4 class="py-2 mt-5 text-center">作曲家一覧</h4>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-4">
      <!--作曲家検索用アコーディオン-->
      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header py-0" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                作曲家名で検索する <i class="fas fa-arrow-circle-down"></i>
              </button>
            </h5>
          </div>
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body pb-1">
              <%= form_with(url: search_path, method: :get, local: true) do |f| %>
                <div class="form-group">
                  <div class="form-inline">
                    <%= f.text_field :content, value: nil, placeholder: '作曲家名', class: "form-control w-75", autocomplete: "off", required: true %>
                    <!--すでに作曲家ページにいるため非表示-->
                    <%= f.hidden_field :model, value: "composers" %>
                    <%= f.button :type => "submit", class: "btn btn-outline-info" do %>
                      <i class = 'fas fa-search'></i>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header py-0" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                西暦で検索する  <i class="fas fa-arrow-circle-down"></i>
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body pb-1">
              <%= form_with(url: search_path, method: :get, local: true) do |f| %>
                <div class="form-group">
                  <div class="form-inline">
                    <%= f.text_field :start_year, value: nil, placeholder: '1830', class: "form-control w-25", autocomplete: "off", required: true %>
                    <%= "　-　" %>
                    <%= f.text_field :end_year, value: nil, placeholder: '1860', class: "form-control w-25", autocomplete: "off", required: true %>
                    <!--searchコントローラーのsearchメソッド内のreturn nil対策-->
                    <%= f.hidden_field :content, value: "not nil" %>
                    <!--すでに作曲家ページにいるため非表示-->
                    <%= f.hidden_field :model, value: "composers" %>
                    <%= f.button :type => "submit", class: "btn btn-outline-info" do %>
                      <i class = 'fas fa-search'></i>
                    <% end %>
                  </div>
                </div>
              <% end %>
              <span class="small">検索したい西暦の範囲を<span class="text-danger">半角数字</span>で指定</span>
            </div>
          </div>
        </div>
      </div><!--作曲家検索用アコーディオンend-->
    </div>
    <div class='col-lg-2 offset-lg-2 py-2 text-right'>
      <%= link_to " 作曲家年表", chronology_composers_path, class: 'fas fa-chart-bar btn btn-outline-info' %>
    </div>
    <div class='col-lg-2'>
      <div class="py-2 text-center">
        <% if params[:composers_all] == 'true' %>
          <%= link_to " 10件ずつ表示", composers_path, class: 'btn btn-outline-dark fas fa-book' %>
        <% else %>
          <%= link_to " 全件表示", composers_path(composers_all: true), class: 'btn btn-outline-dark fas fa-book' %>
        <% end %>
      </div>
    </div>
    <div class='col-lg-12'>
      <div class="py-2 text-center">
        <% if params[:composers_all] == 'true' %>
          <%= render partial: "index", :locals => { composers: Composer.all.order(name_kana: :asc) } %>
        <% else %>
          <span class='pagecolor'><%= paginate @composers %></span>
          <%= render partial: "index", :locals => { composers: @composers } %>
          <!--スマホではページ下部にもページネーション表示-->
          <span class='pagecolor smp'><%= paginate @composers %></span>
        <% end %>
      </div>
    </div>
  </div><!--row end-->
</div><!--container end-->