<% if @composer.is_active == true %>
  <div class='container'>
    <div class="row">
      <h4 class="px-5 py-2 mt-5 ml-lg-5 text-dark">
        <%= @composer.name_kana %> <span class='h5'><%= @composer.year_of_birth %>-<%= @composer.year_of_death %> <%= @composer.name_lang_en %></span>
      </h4>
    </div>
    <div class='row justify-content-center'>
      <div class='col-xs-6 col-lg-3'>
        <% if @composer.image.attached? %>
          <%= image_tag @composer.image.variant(resize: '150x200') %>
        <% else %>
          <%= image_tag 'no_image.jpg', size: '150x200' %>
        <% end %><br>
        参考リンク:<%= link_to "別タブへ", @composer.reference_url, target: :_blank, rel: "noopener noreferrer" %>
      </div>
      <div class='col-xs-6 col-lg-6'>

        <table id="sort-table" class='table table-sm table-hover'>
          <thead class="thead-dark">
            <tr>
              <th>楽曲名</th>
              <th>コメント数</th>
              <th>最終更新日</th>
            </tr>
          </thead>
          <tbody>
            <% @composer.musical_pieces.each do |musical_piece| %>
              <% if musical_piece.is_active == true %>
                <tr>
                  <td>
                    <%= link_to musical_piece_path(musical_piece), class: 'text-dark' do %>
                      <%= musical_piece.musical_piece_name %>
                    <% end %>
                  </td>
                  <td><%= musical_piece.musical_piece_comment_ids.count %></td>
                  <td>
                    <% if musical_piece.musical_piece_comment_ids.count != 0 %>
                      <%= l musical_piece.musical_piece_comments.last.created_at, format: :short %>
                    <% else %>
                      -
                    <% end %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>