<% if @composer.is_active == TRUE %>
  <div class='container'>
    <div class="row">
      <h4 class="px-5 py-2 mt-5 ml-5 bg-light text-dark">
        <%= @composer.name_kana %> <%= @composer.year_of_birth %>-<%= @composer.year_of_death %> <%= @composer.name_lang_en %>
      </h4>
    </div>
    <div class='row'>
      <div class='col-4'>
        <%= attachment_image_tag(@composer, :image, size: "120x160", format: 'jpeg', fallback: "no_image.jpg") %>
      </div>
      <div class='col-8'>
        参考リンク
        <table class='table table-striped'>
          <tr>
            <th>楽曲名</th>
            <th>コメント数</th>
            <th>最終更新日</th>
          </tr>
          <!--% @musical_pieces.each do |musical_piece| %>-->
          <!--  % if musical_piece.is_active == TRUE %>-->
          <!--  <tr>-->
          <!--    <td>-->
          <!--      [%= musical_piece.composer.name_kana %>]-->
          <!--      %= link_to musical_piece_path(musical_piece) do %>-->
          <!--        %= musical_piece.musical_piece_name %>-->
          <!--      % end %>-->
          <!--    </td>-->
          <!--    <td></td>-->
          <!--    <td></td>-->
          <!--  </tr>-->
          <!--  % end %>-->
          <!--% end %>-->
        </table>
      </div>
    </div>
  </div>
<% end %>