<div class="container">
  <div class="row">
    <div class="<col-2></col-2>">
      <h4 class="px-5 py-2 mt-5 ml-5 text-dark">作曲家データ編集</h4>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <div class="text-center">
      <% if @composer.errors.any? %>
        <%= @composer.errors.count %> errors prohibited this composer from being saved:<br>
        <% @composer.errors.full_messages.each do |message| %>
          <%= message %><br>
        <% end %>
      <% end %>
      </div>
    <%= form_with model: @composer, url: admin_composer_path, method: :patch,local: true do |f| %>
      <table class='table table-borderless field d-flex justify-content-center'>
        <tr><th>作曲家名(カタカナ)</th><td><%= f.text_field :name_kana %></td></tr>
        <tr><th>作曲家名(英語)</th><td><%= f.text_field :name_lang_en %></td></tr>
        <tr><th><%= f.label :作曲家画像 %>
        </th><td>
        <%= f.file_field :image %>
        </td></tr>
        <tr><th>生誕年-没年</th><td><%= f.text_field :year_of_birth %>-<%= f.text_field :year_of_death %></td></tr>
        <tr><th>参考URL</th><td><%= f.text_field :reference_url %></td></tr>
        <tr><th>表示ステータス</th><td>
        <%= f.radio_button :is_active, true %>
        <%= f.label :is_active, "公開中" %>
        <%= f.radio_button :is_active, false %>
        <%= f.label :is_active, "非公開中" %>
        </td></tr>
        <tr><th></th><td>
        <button type="submit" class="btn btn-success">
        <% f.submit %>編集を保存
        </button>
        </td></tr>
      </table>
    <% end %>
    </div>
  </div>
</div>