<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-5">
      <h4 class="px-5 py-2 mt-5 text-center">新規楽曲データ登録</h4>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <%= render 'layouts/error_messages', model: @musical_piece %>
      <%= form_with model: @musical_piece, url: admin_musical_pieces_path, local: true do |f| %>
      <table class='table table-borderless'>
        <tr><th>作曲家名(既存)</th><td><%= f.collection_select :composer_id, Composer.all.order(name_kana: :asc), :id, :name_kana, prompt: "--作曲家を選択--" %></td></tr>
        <tr><th>楽曲名</th><td><%= f.text_field :musical_piece_name, :placeholder => "バラード1番" %></td></tr>
        <tr><th>作曲年</th><td><%= f.text_field :year_of_composition, :placeholder => "1831", class: "w-25" %></td></tr>
        <tr><th>総演奏時間[min]</th><td><%= f.text_field :performance_time, :placeholder => "8", class: "w-25" %></td></tr>
        <tr><th>参考リンク</th><td><%= f.text_field :reference_URL, :placeholder => "https://enc.piano.or.jp/persons/135" %></td></tr>
        <tr><th>表示ステータス</th><td>
        <%= f.radio_button :is_active, true %>
        <%= f.label :is_active, "公開中" %>
        <%= f.radio_button :is_active, false %>
        <%= f.label :is_active, "非公開中" %>
        </td></tr>
        <tr><th></th><td>
        <button type="submit" class="btn btn-success">
        <% f.submit %>新規登録
        </button>
        </td></tr>
      </table>
    <% end %>
    </div>
  </div>
</div>