<div class="container text-center">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <%= image_tag 'vspp.png',:size =>"70x50", :class =>'my-4' %>
      <h1 class='h3 mb-3 fw-normal'>VSPPに新規登録</h1>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "members/shared/error_messages", resource: resource %>

        <div class="field">
          <%#= f.label :nickname %>
          <%= f.text_field :nickname, autofocus: true, placeholder: "ニックネーム", class: 'w-100 form-control' %>
        </div>

        <div class="field">
          <%#= f.label :email %>
          <%= f.email_field :email, autocomplete: "email", placeholder: "メールアドレス", class: 'w-100 form-control' %>
        </div>

        <div class="field">
          <%#= f.label :password %>
          <% if @minimum_password_length %>
            <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード(#{@minimum_password_length}文字以上)", class: 'w-100 form-control' %>
          <% else %>
            <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード", class: 'w-100 form-control' %>
          <% end %>
        </div>

        <div class="field">
          <%#= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワード(確認用)", class: 'w-100 form-control' %>
        </div>

        <div class="actions my-3">
          <%= f.submit "アカウント作成", class: 'w-75 btn btn-lg btn-outline-dark' %>
        </div>
      <% end %>
      <%= render "members/shared/links" %>
    </div>
  </div>
</div>