<div class='container'>
  <div class="row justify-content-center">
    <h4 class="py-2 mt-5"><%= @member.nickname %>のフォロー</h4>
    <div class='w-100'></div>
    <div class="px-5 py-2 mt-xs-5">
      <%= link_to "戻る", :back, class: "btn btn-outline-dark" %>
    </div>
  </div>
  <div class='row justify-content-center'>
    <% if @members.exists? %>
      <div class='col-xs-12 col-md-8 col-lg-6'>
        <table class="table table-borderless">
          <thead>
            <tr>
              <th colspan="2"></th>
            </tr>
          </thead>
          <tbody>
            <% @members.each do |member| %>
              <tr class="text-center">
                <div class="col-xs-6 col-md-4 col-lg-3 text-nowrap">
                  <td class="text-left">
                    <%= link_to member_path(member), class: "text-dark" do %>
                      <% if member.profile_image.attached? %>
                        <%= image_tag member.profile_image.variant(combine_options:{gravity: :center, resize:"50x50^", crop:"50x50+0+0"}).processed, class: "rounded-circle" %>
                      <% else %>
                        <%= image_tag 'no_image.jpg', class: "rounded-circle", size: '50x50' %>
                      <% end %>
                      <%= member.nickname.truncate(15) %>
                    <% end %>
                  </td>
                </div>
                <div class="col-xs-6 col-md-4 col-lg-3 text-nowrap">
                  <td>
                    <% if current_member.following?(member) %>
                      <%= link_to "フォロー中", member_relationships_path(member.id), method: :delete, class: "btn btn-outline-dark mt-1" %>
                      <% if current_member.followed?(member) %>
                      <!--相互フォロー限定ダイレクトメッセージ-->
                        <i class="far fa-envelope ml-5 mr-2"></i>DM可
                      <% end %>
                    <% elsif current_member != member %>
                      <%= link_to "フォローする", member_relationships_path(member.id), method: :post, class: "btn btn-dark text-nowrap mt-1" %>
                    <% end %>
                  </td>
                </div>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <p>まだフォローはいません</p>
    <% end %>
  </div>
</div>
