<%= form_with model: MusicalPieceComment.new(musical_piece_id: musical_piece.id), url: musical_piece_musical_pieces_comments_path(musical_piece_id: musical_piece.id), local:true, method: :post do |f| %>
  <div>
    <%= f.label :comment,'コメント' %>
    <%= f.text_area :comment, size: "30x10" %>
  </div>
   <!--評価-->
  <div class="form-group row text-nowrap" id="star">
    <%= f.label :evaluation,'評価', class: 'col-md-3 col-form-label' %>
    <%= f.hidden_field :evaluation, id: :evaluation_star %>
  </div>
   <!--評価javascript-->
  <script>
  $('#star').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    // # MusicalPieceCommentモデルのrateカラムに値を保存する
    scoreName: 'musical_piece_comment[evaluation]',
    // ★の半分の入力を行う
    half: true
  });
  </script>
  <div>
    <%= f.submit "感想投稿", class: 'btn btn-success' %>
  </div>
<% end %>