<div class='container'>
  <div class='row'>
    <div class='col'>
      <% if musical_pieces.present? %>
        <table id="sort-table" class='table table-sm table-hover'>
          <thead>
            <tr class="thead-dark">
              <th class="text-nowrap">楽曲名</th>
              <th class="text-nowrap text-left">コメント数</th>
              <th class="text-nowrap text-left">コメント<span class="br"></span>最終更新日</th>
            </tr>
          </thead>
          <tbody>
          <% musical_pieces.each do |musical_piece| %>
            <% if musical_piece.is_active == true %>
              <tr>
                <td class="text-left">
                  <span class="text-nowrap br">[<%= musical_piece.composer.name_kana %>]</span>
                  <%= link_to musical_piece_path(musical_piece), class: 'text-dark' do %>
                    <%= musical_piece.musical_piece_name %>
                  <% end %>
                </td>
                <td><%= musical_piece.musical_piece_comment_ids.count %></td>
                <td>
                  <% if musical_piece.musical_piece_comment_ids.count != 0 %>
                    <%= l musical_piece.musical_piece_comments.last.created_at, format: :short %>
                  <% else %>
                  -
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
          </tbody>
        </table>
      <% else %>
        <div class="text-center pt-lg-5">
          <span class='text-white bg-danger h4 px-3'><i class="fas fa-exclamation-circle"></i> 検索結果はありません</span><br>
          <span class='text-white bg-info h4 px-3'><i class="fas fa-question-circle"></i> "楽曲"検索、"作曲家"検索の指定は正しいですか?</span><br>
          <p>
          楽曲が見つからなかった場合は、<span class="br"></span>
          以下のフォームにて<span class="br"></span>楽曲追加の申請ができます。<br>
          管理者側で楽曲を確認でき次第、<span class="br"></span>
          感想が投稿できるようにいたします。<br>
          楽曲数を増やすためにも、<span class="br"></span>
          ぜひご協力をお願いいたします。<br>
          </p>
          <% if @musical_piece.errors.any? %>
            <p class='w-100 pt-3'></p>
            <%= @musical_piece.errors.count %>件のエラーが発生しました<br>
            <% @musical_piece.errors.full_messages.each do |message| %>
              <%= message %><br>
            <% end %>
          <% end %>
          <%= form_with model: @musical_piece, url: musical_pieces_path, method: :post, local: true do |f| %>
            <table class='table table-borderless field d-flex justify-content-center'>
              <tr><th>作曲家名 <span class="badge badge-danger">必須</span></th><td><%= f.collection_select :composer_id, Composer.all.order(name_kana: :asc), :id, :name_kana %></td></tr>
              <tr><th>楽曲名 <span class="badge badge-danger">必須</span></th><td><%= f.text_field :musical_piece_name, :placeholder => "バラード第1番", autocomplete: "off" %></td></tr>
              <tr><th>作曲年</th><td><%= f.text_field :year_of_composition, :placeholder => "1831", autocomplete: "off" %></td></tr>
              <tr><th>総演奏時間[min]</th><td><%= f.text_field :performance_time, :placeholder => "8", autocomplete: "off" %></td></tr>
              <tr><th>参考リンク</th><td><%= f.text_field :reference_URL, :placeholder => "https://enc.piano.or.jp/persons/135", autocomplete: "off" %></td></tr>
              <tr><td colspan="2"><button type="submit" class="btn btn-outline-dark">
                <% f.submit %>楽曲追加申請
              </button></td></tr>
            </table>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>