<div class='container'>
  <div class='row'>
    <div class='col'>
      <% if musical_pieces.present? %>
        <table id="sort-table" class='table table-sm table-hover'>
          <thead>
            <tr class="thead-dark">
              <th class="text-nowrap">楽曲名</th>
              <th class="text-nowrap text-left">コメント数</th>
              <th class="text-nowrap text-left">コメント<span class="br"></span>最終更新日</th>
            </tr>
          </thead>
          <tbody>
          <% musical_pieces.each do |musical_piece| %>
            <% if musical_piece.is_active == true %>
              <tr>
                <td class="text-left">
                  <%= link_to musical_piece_path(musical_piece), class: 'text-dark' do %>
                    <%= musical_piece.musical_piece_name %>
                  <% end %>
                  <span class="text-nowrap">[<%= musical_piece.composer.name_kana %>]</span>
                </td>
                <td><%= musical_piece.musical_piece_comment_ids.count %></td>
                <td>
                  <% if musical_piece.musical_piece_comment_ids.count != 0 %>
                    <%= l musical_piece.musical_piece_comments.last.created_at, format: :short %>
                  <% else %>
                  -
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
          </tbody>
        </table>
      <% else %>
        <div class="text-center pt-lg-5">
          <span class='text-white bg-danger h4 px-3'><i class="fas fa-exclamation-circle"></i> 検索結果はありません</span><br>
          <span class='text-white bg-info h4 px-3'><i class="fas fa-question-circle"></i> "楽曲"検索、"作曲家"検索の指定は正しいですか?</span><br>
          <span class='text-white bg-info h4 px-3'><i class="fas fa-question-circle"></i> 西暦検索の指定範囲は正しいですか?</span><br>
          <p class="bg-infomation col-lg-8 offset-lg-2">
          楽曲が見つからなかった場合は、<span class="br"></span>
          以下のフォームにて<span class="br"></span>楽曲追加の申請ができます。<br>
          管理者側で楽曲を確認でき次第、<span class="br"></span>
          感想が投稿できるようにいたします。<br>
          楽曲数を増やすためにも、<span class="br"></span>
          ぜひご協力をお願いいたします。<br>
          </p>
          <i class="far fa-hand-point-right"></i><%= link_to "楽曲追加申請フォーム", new_musical_piece_path, method: :get, class: 'btn btn-outline-info' %>
        </div>
      <% end %>
    </div>
  </div>
</div>