<% if @musical_pieces.present? %>
  <div class='container'>
    <div class="row justify-content-center">
      <h4 class="px-5 py-2 mt-5 text-dark">楽曲一覧</h4>
      <div class='w-100'></div>
      <div class="px-5 py-2 mt-xs-5">
        <% if params[:musical_pieces_all] == 'true' %>
          <%= link_to "15件ずつ表示", musical_pieces_path, class: 'btn btn-outline-dark btn-sm' %>
        <% else %>
          <%= link_to "全件表示", musical_pieces_path(musical_pieces_all: true), class: 'btn btn-outline-dark btn-sm' %>
        <% end %>
      </div>
    </div>
    <div class='row'>
      <div class='col'>
        <% if params[:musical_pieces_all] == 'true' %>
          <%= render partial: "index", :locals => { musical_pieces: MusicalPiece.all.order(musical_piece_name: :asc) } %>
        <% else %>
          <span class='pagecolor'><%= paginate @musical_pieces %></span>
          <%= render partial: "index", :locals => { musical_pieces: @musical_pieces } %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
