<% if @musical_pieces.present? %>
  <div class='container'>
    <div class="row justify-content-center">
      <div class="col-lg-3">
        <h4 class="py-2 mt-5 text-center">楽曲一覧</h4>
      </div>
      <div class="col-lg-4 offset-lg-3 mt-lg-5 form-inline">
        <%= form_with(url: search_path, method: :get, local: true) do |f| %>
          <i class="fas fa-search"></i>
          <%= f.text_field :content, value: nil, placeholder: '楽曲名', class: "form-control", autocomplete: "off" %>
          <%= f.hidden_field :model, value: "musical_pieces" %>
          <%= f.submit('検索', class: 'btn-sm btn-dark') %>
        <% end %>
      </div>
      <div class="w-100"></div>
      <div class="py-2">
        <% if params[:musical_pieces_all] == 'true' %>
          <%= link_to " 15件ずつ表示", musical_pieces_path, class: 'btn btn-outline-dark fas fa-book' %>
        <% else %>
          <%= link_to " 全件表示", musical_pieces_path(musical_pieces_all: true), class: 'btn btn-outline-dark fas fa-book' %>
        <% end %>
      </div>
    </div>
    <div class='row'>
      <div class='col'>
        <% if params[:musical_pieces_all] == 'true' %>
          <%= render partial: "index", :locals => { musical_pieces: MusicalPiece.all.order(musical_piece_name: :asc) } %>
        <% else %>
          <span class='pagecolor'><%= paginate @musical_pieces %></span>
          <%= render partial: "index", :locals => { musical_pieces: @musical_pieces } %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
