<% if @musical_piece.is_active == true %>
  <div class='container'>
    <div class="row">
      <h4 class="px-5 py-2 mt-5 ml-5 bg-light text-dark">
        <%= @musical_piece.composer.name_kana %> :<%= @musical_piece.musical_piece_name %>
      </h4>
    </div>
    <div class='row'>
      <div class='col-xs-6 col-lg-3'>
        <table class='table table-bordered border-dark text-nowrap'>
          <tr><th class="table-secondary">作曲年</th><td><%= @musical_piece.year_of_composition %></td></tr>
          <tr><th class="table-secondary">総演奏時間[min]</th><td><%= @musical_piece.performance_time %></td></tr>
          <tr><th class="table-secondary">参考リンク</th><td>
            <%= link_to "別タブへ", @musical_piece.reference_URL, target: :_blank, rel: "noopener noreferrer" %>
          </td></tr>
        </table>
        <%= flash[:alert] %>
        <%= render 'form', musical_piece_comment: @musical_piece_comment, musical_piece: @musical_piece %>
      </div>
      <div class='col-xs-6 col-lg-9'>
        <table class='table table-striped'>
          <% @musical_piece.musical_piece_comments.each do |mc| %>
            <tr>
              <td>
                <%= link_to member_path(mc.member) do %>
                  <%= attachment_image_tag(mc.member, :profile_image, fallback: "no-image-icon.jpg", size: "50x50") %><br>
                  <%= mc.member.nickname %>
                <% end %>
              </td>
              <td style="word-wrap:break-word;"><%= mc.comment %></td>
              <!---->
              <% if mc.member == current_member %>
                <td>
                  <%= link_to "Destroy", musical_piece_musical_pieces_comment_path(mc.musical_piece, mc), method: :delete,remote: true, data: {confirm: "削除しますか？"}, class:"btn btn-danger" %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
<% end %>