<% if @musical_piece.is_active == TRUE %>
  <div class='container'>
    <div class="row">
      <h4 class="px-5 py-2 mt-5 ml-5 bg-light text-dark">
        <%= @musical_piece.composer.name_kana %> :<%= @musical_piece.musical_piece_name %>
      </h4>
    </div>
    <div class='row'>
      <div class='col-3'>
        <table class='table table-bordered border-dark text-nowrap'>
          <tr><th class="table-secondary">作曲年</th><td><%= @musical_piece.year_of_composition %></td></tr>
          <tr><th class="table-secondary">総演奏時間[min]</th><td><%= @musical_piece.performance_time %></td></tr>
          <tr><th class="table-secondary">参考リンク</th><td>
            <%= link_to "別タブへ", @musical_piece.reference_URL, target: :_blank, rel: "noopener noreferrer" %>
          </td></tr>
        </table>

      </div>
      <div class='col-9'>

      </div>
    </div>
  </div>
<% end %>