<% if @musical_piece.is_active == true %>
  <div class='container'>
    <div class="row">
      <h4 class="px-5 py-2 mt-5 ml-lg-5 text-dark">
        <%= link_to composer_path(@musical_piece.composer), class: 'text-dark' do %>
          <%= @musical_piece.composer.name_kana %>
        <% end %>
        :<%= @musical_piece.musical_piece_name %>
      </h4>
    </div>
    <div class='row'>
      <div class='col-xs-6 col-md-6 col-lg-4'>
        <!------------>
        <!--楽曲情報-->
        <!------------>
        <table class='table table-bordered border-dark'>
          <tr><th class="table-secondary text-nowrap">作曲年</th><td><%= @musical_piece.year_of_composition %></td></tr>
          <tr><th class="table-secondary text-nowrap">総演奏時間[min]</th><td><%= @musical_piece.performance_time %></td></tr>
          <tr><th class="table-secondary text-nowrap">参考リンク</th><td>
            <%= link_to "別タブへ", @musical_piece.reference_URL, target: :_blank, rel: "noopener noreferrer" %>
          </td></tr>
        </table>
        <!------------------>
        <!--マイリスト機能-->
        <!------------------>
        <% if current_member.lists.present? %>
          <%= form_with model: MusicalPieceList.new, url: musical_piece_lists_path, method: :post, local: true do |f| %>
             <!--f.collection_select :保存先のカラム名, テーブル（モデル）名.all, :実際にDBに保存させるカラム名, :選択肢に用いるカラム名, include_blank: "選択して下さい"-->
            <%= f.collection_select :list_id, current_member.lists.all, :id, :name, include_blank: "--リストを選択--" %>

            <%= f.hidden_field :musical_piece_id, :value => @musical_piece.id %>
            <%= f.submit "選択したリストに追加", class: "btn-sm btn-outline-dark" %>
          <% end %>
        <% else %>
          マイリストを作成してください<br><%= link_to " 作成画面へ", new_list_path, class: "far fa-plus-square btn-sm btn-dark" %>
        <% end %>
        <!--コメントcreate時のエラーメッセージ-->
        <%= render 'layouts/error_messages', model: @musical_piece_comment %>
        <!--コメント投稿済みであればformは非表示-->
        <% if  @musical_piece_comments.where(member_id: current_member.id).present? %>
         <p class='pt-3'>
           すでにレビュー済みです。<br>
           再評価したい場合には、<br>
           自分のレビューの削除が必要です。
         </p>
        <% else %>
          <!---------------->
          <!--コメント投稿-->
          <!---------------->
          <%= form_with model: @musical_piece_comment, url: musical_piece_musical_pieces_comments_path(musical_piece_id: @musical_piece.id), local:true, method: :post do |f| %>
            <div class='pt-3'>
              <%= f.text_area :comment, size: "37x10", placeholder: 'ここにコメントを200文字まで入力できます' %>
            </div>
            <p class='pt-2'>
              星0.5〜5.0の10段階で評価できます。<br>
            </p>

            <div class="form-group row text-nowrap pl-3" id="star">
              <%= f.hidden_field :evaluation, id: :evaluation_star %>
            </div>
             <!--評価javascript-->
            <script>
            $('#star').empty();//これを入れないとブラウザバックする度に空の星が5つ増えてしまう
            $('#star').raty({
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              // # MusicalPieceCommentモデルのevaluationカラムに値を保存する
              scoreName: 'musical_piece_comment[evaluation]',
              // ★の半分の入力を行う
              half: true
            });
            </script>
            <div class="text-center">
              <%= f.submit "レビュー投稿", class: 'btn btn-outline-dark' %>
            </div>
          <% end %>
        <% end %>
      </div>
      <!---------------->
      <!--コメント一覧-->
      <!---------------->
      <div class='col-xs-6 col-md-6 col-lg-7 offset-lg-1'>
        <% if @musical_piece.musical_piece_comments.count == 0 %>
          この楽曲には、まだレビューはありません。
        <% end %>
        <% musical_piece_comments = @musical_piece.musical_piece_comments.order(created_at: :desc).page(params[:page]).per(5) %>
        <span class='pagecolor'><%= paginate musical_piece_comments %></span>
        <% musical_piece_comments.each do |mc| %>
          <div class='text-nowrap'>
            <%= link_to member_path(mc.member) do %>
              <% if mc.member.profile_image.attached? %>
                <%= image_tag mc.member.profile_image.variant(combine_options:{gravity: :center, resize:"50x50^", crop:"50x50+0+0"}).processed, class: "rounded-circle" %>
              <% else %>
                <%= image_tag 'no_image.jpg', class: "rounded-circle", size: '50x50' %>
              <% end %>
              <%= mc.member.nickname %>
            <% end %>
          </div>
          <div class="musical_piece-evaluation text-nowrap" data-score="<%= mc.evaluation %>"></div>
          <div><%= l mc.created_at, format: :default %>にレビュー済み</div>
          <div class="h6" style="word-wrap:break-word;"><%= mc.comment %></div>
          <div id="musical_piece_comment_<%= mc.id %>" class="favorite-btn pb-3"><%= render "member/favorites/favorite-btn", musical_piece_comment: mc %></div>
          <% if mc.member == current_member %>
            <div class='pb-3'>
              <%= link_to "削除する", musical_piece_musical_pieces_comment_path(mc.musical_piece, mc), method: :delete, remote: true, data: {confirm: "削除しますか？"}, class: "btn btn-sm btn-outline-danger" %>
            </div>
          <% end %>
        <% end %>
        <script>
        $(document).on('turbolinks:load', function () {
          $('.musical_piece-evaluation').empty();//これを入れないとブラウザバックする度に空の星が5つ増えてしまう
          $('.musical_piece-evaluation').raty({
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              readOnly: true,
              // ★の半分の入力を行う
              half: true
          });
        });
        </script>
      </div>
    </div>
  </div>
<% end %>