<div class='container'>
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <% @member_rooms.each do |mr| %>
        <% unless mr.member == current_member %>
          <div class="text-center pt-3 fixed-top" id='dm-title'>
            <%= link_to member_path(mr.member) do %>
              <% if mr.member.profile_image.attached? %>
                <%= image_tag mr.member.profile_image.variant(combine_options:{gravity: :center, resize:"50x50^", crop:"50x50+0+0"}).processed, class: "rounded-circle" %>
              <% else %>
                <%= image_tag 'no_image.jpg', class: "rounded-circle", size: '50x50' %>
              <% end %>
              <strong><%= mr.member.nickname.truncate(15) %></strong>
            <% end %>
            <span class="pc">とあなた(<%= current_member.nickname.truncate(10) %>)のメッセージルーム</span>
          </div>
        <% end %>
      <% end %>
      <br>
      <div class="w-100 messages-area mt-5 js-auto-scroll">
        <% if @messages.present? %>
          <% @messages.each do |m| %>
            <% if m.member == current_member %>
              <div class="text-right">
                <div class="balloon-right">
                  <%= safe_join(m.message.split("\n"),tag(:br)) %>
                </div>
                <div>
                  <%= l m.created_at, format: :middle %>
                </div>
              </div>
            <% else %>
              <div class="text-left">
                <div class="text-nowrap">
                  <% if m.member.profile_image.attached? %>
                    <%= image_tag m.member.profile_image.variant(combine_options:{gravity: :center, resize:"50x50^", crop:"50x50+0+0"}).processed, class: "rounded-circle" %>
                  <% else %>
                    <%= image_tag 'no_image.jpg', class: "rounded-circle", size: '50x50' %>
                  <% end %>
                  <span class="balloon-left text-wrap"><%= m.message %></span>
                </div>
                <div>
                  <%= l m.created_at, format: :middle %>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <hr>
      <div class="form-group">
        <%= form_with model: @message, local: :true do |f| %>
          <div class="form-inline">
            <%= f.text_field :message, placeholder: "メッセージを作成", class: "form-control w-75", autocomplete: "off" %>
            <%= f.hidden_field :room_id, value: @room.id %>
            <%= f.button :type => "submit", class: "btn btn-outline-info" do %>
              <i class = 'far fa-paper-plane'></i>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script>
  //自動スクロール
  //メッセージエリアのDOMを変数に格納
  var $scrollAuto = $('.js-auto-scroll');
  //animate関数で利用できるプロパティは数値を扱うプロパティの値を簡単に変化させることができる関数
  //scrollTop()」は、ブラウザの画面をスクロールした時の位置（スクロール量）を取得できるメソッド。引数を設定することで任意のスクロール位置まで移動させることが可能
  //scrollHeightは、あふれた(overflowした)画面上に表示されていないコンテンツを含む要素の内容の高さ
  //scrollTopの要素をscrollHeightに徐々に変化させている
  $scrollAuto.animate({scrollTop: $scrollAuto[0].scrollHeight}, 'slow');
</script>