<div "container">
  <div class='row'>
    <div class='col-xs-8 offset-xs-2 col-lg-4 offset-lg-4 text-center'>
      <h4 class="px-5 py-2 mt-5 ml-5 bg-secondary text-white"><%= current_member.nickname %>のマイページ</h4>
      <h5>現在の登録情報</h5>
      <table class="table table-borderless my-3">
        <tr>
          <th>プロフィール画像</th>
          <td><%= attachment_image_tag current_member, :profile_image, :fill, 100, 100, fallback: "no_image.jpg"%></td>
        </tr>
        <tr>
          <th>ニックネーム</th>
          <td><%= current_member.nickname %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= current_member.email %></td>
        </tr>
      </table>
      <%= link_to "編集する",edit_member_path(current_member), class: 'btn btn-outline-dark'%>
    </div>
  </div>
</div>