<div "container">
  <div class='row justify-content-center'>
    <div class='col-xs-10 col-md-8 col-lg-4 offset-lg-1'>
      <table class="table table-borderless my-3">
        <tr>
          <th>
            <% if @member.profile_image.attached? %>
              <%= image_tag @member.profile_image.variant(resize: '100x100'), class: "rounded-circle" %>
            <% else %>
              <%= image_tag 'no_image.jpg', class: "rounded-circle", size: '100x100' %>
            <% end %>
          </th>
          <td class='h4 pt-5'><%= @member.nickname %></td>
          <td class='pt-5 text-nowrap'>
            <% if current_member.following?(@member) %>
              <%= link_to "フォロー中", member_relationships_path(@member.id), method: :delete, class: "btn btn-outline-dark" %>
            <% else %>
              <%= link_to "フォローする", member_relationships_path(@member.id), method: :post, class: "btn btn-dark" %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td><%= link_to @member.followings.count, member_followings_path(@member) %>フォロー中</td>
    	    <td><%= link_to @member.followers.count, member_followers_path(@member) %>フォロワー</td>
  	    </tr>
      </table>
    </div>
    <!---------------->
    <!--コメント一覧-->
    <!---------------->
    <div class='col-xs-10 col-md-10 col-lg-6 offset-lg-1'>
      <% if @member.musical_piece_comments.present? %>
        <table class='table table-borderless table-hover'>
          <% @member.musical_piece_comments.each do |mc| %>
            <tr>
              <th class='col-1'>
                <%= link_to member_path(mc.member) do %>
                  <% if mc.member.profile_image.attached? %>
                    <%= image_tag mc.member.profile_image.variant(resize: '50x50'), class: "rounded-circle" %>
                  <% else %>
                    <%= image_tag 'no_image.jpg', class: "rounded-circle", size: '50x50' %>
                  <% end %>
                <% end %>
              </th>
              <td>
                <span class='lead'><%= mc.member.nickname %> </span>
                <span class='text-muted'><%= l mc.created_at, format: :default %></span>
                <br>
                <span class='text-muted'>[<%= mc.musical_piece.composer.name_kana %>]</span>
                <%= link_to musical_piece_path(mc.musical_piece), class: 'text-dark' do %>
                  <%= mc.musical_piece.musical_piece_name %>
                <% end %>
                <div class="musical_piece-evaluation text-nowrap" data-score="<%= mc.evaluation %>"></div>
                <div class="h5" style="word-wrap:break-word;"><%= mc.comment %></div>
              </td>
            </tr>
          <% end %>
        </table>
        <script>
          $('.musical_piece-evaluation').empty();//これを入れないとブラウザバックする度に空の星が5つ増えてしまう
          $('.musical_piece-evaluation').raty({
            readOnly: true,
            score: function() {
              return $(this).attr('data-score');
            },
            path: '/assets/'
          });
        </script>
      <% else %>
        <h4 class='mt-3'><%= @member.nickname %>さんはまだレビュー投稿していません</h4>
      <% end %>
    </div>
  </div>
</div>