<div "container">
  <div class='row justify-content-center pt-2'>
    <div class='col'>
      <% if @followings_members.present? %>
        <table class='table table-borderless table-hover col-xs-10 offset-xs-1 col-md-8 offset-md-2 col-lg-8 offset-md-2'>
          <% @musical_piece_comments.each do |comment| %>
            <tr>
              <th class="text-right">
                <%= link_to member_path(comment.member) do %>
                  <% if comment.member.profile_image.attached? %>
                    <%= image_tag comment.member.profile_image.variant(combine_options:{gravity: :center, resize:"50x50^", crop:"50x50+0+0"}).processed, class: "rounded-circle" %>
                  <% else %>
                    <%= image_tag 'no_image.jpg', class: "rounded-circle", size: '50x50' %>
                  <% end %>
                <% end %>
              </th>
              <td>
                <span class='lead'><%= comment.member.nickname %> </span>
                <span class='text-muted'><%= l comment.created_at, format: :default %></span>
                <br>
                <span class='text-muted'>[<%= comment.musical_piece.composer.name_kana %>]</span>
                <%= link_to musical_piece_path(comment.musical_piece), class: 'text-dark' do %>
                  <%= comment.musical_piece.musical_piece_name %>
                <% end %>
                <div class="musical_piece-evaluation text-nowrap" data-score="<%= comment.evaluation %>"></div>
                <div class="h6" style="word-wrap:break-word;"><%= comment.comment %></div>
              </td>
            </tr>
          <% end %>
        </table>
        <script>
          $('.musical_piece-evaluation').empty();//これを入れないとブラウザバックする度に空の星が5つ増えてしまう
          $('.musical_piece-evaluation').raty({
              size: 36,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              readOnly: true,
              // ★の半分の入力を行う
              half: true
          });
        </script>
      <% else %>
        フォローしているメンバーはいません
      <% end %>
    </div>
  </div>
</div>