<div class='container'>
  <div class="row justify-content-center">
    <h4 class="px-5 py-2 mt-5 ml-5 text-dark"><%= current_member.nickname %>のマイリスト</h4>
  </div>
  <div class='row justify-content-center'>
    <div class='col-lg-8'>
      <div class="mb-4 mt-2">
        <% if @lists.present? %>
          全<%= @lists.count %>件
        <% else %>
          リスト新規作成
        <% end %>
        <!--リスト新規作成ボタン-->
        <%= link_to new_list_path do %>
          <button type="button" class="btn btn-dark rounded-circle p-0" style="width:2rem;height:2rem;">＋</button>
        <% end %>
      </div>
      <% if @lists.present? %>
        <table id='sort-table' class='table table-hover'>
          <thead class="thead-dark">
            <tr>
              <th>リスト名</th>
              <th>登録楽曲数</th>
              <th>リスト内最終更新日時</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @lists.each do |list| %>
              <tr>
                <td>
                  <%= link_to list_path(list), class: 'text-dark' do %>
                    <%= list.name %>
                  <% end %>
                  <!--リスト名編集のFontawesome-->
                  <%= link_to "", edit_list_path(list), class: "fas fa-edit text-info text-right" %>
                </td>
                <td><%= list.musical_pieces.count %></td>
                <td><%= l list.updated_at, format: :default %></td>
                <td class="text-nowrap">
                  <%= link_to "削除", list_path(list), method: :delete, data: {confirm: "リストごと削除しますか？"}, class: "btn-sm btn-outline-danger" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <span class='text-center'>まだリストを作成されておりません</span>
      <% end %>
    </div>
  </div>
</div>