<div class='container'>
  <div class="row">
    <h4 class="px-5 py-2 mt-5 ml-5 text-dark"><%= @list.name %></h4>
  </div>
  <div class='row'>
    <div class='col'>
      <% if @list.musical_pieces.present? %>
        <table id='sort-table' class='table table-hover'>
          <thead class="thead-dark">
            <tr>
              <th>リスト追加日時</th>
              <th>作曲家名</th>
              <th>楽曲名</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @lists.each do |list| %>
              <tr>
                <td>
                  <%= l list.created_at, format: :default %>
                </td>
                <td>
                  <%= list.musical_piece.composer.name_kana %>
                </td>
                <td>
                  <%= link_to musical_piece_path(list.musical_piece), class: 'text-dark' do %>
                    <%= list.musical_piece.musical_piece_name %>
                  <% end %>
                </td>
                <td>
                  <%= link_to "リストから削除", musical_piece_list_path(list), method: :delete, data: {confirm: "削除しますか？"}, class: "btn-sm btn-outline-danger" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        このリストにはまだ楽曲データが追加されておりません
      <% end %>
    </div>
  </div>
</div>