<!DOCTYPE html>
<html>
  <head>
    <title>VSPP</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <!--ブラウザバックsafari対応-->
    <meta content="86400" http-equiv="Expires"/>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--ブラウザタブ画像-->
    <%= favicon_link_tag 'favicon.ico' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">


    <!--表のカラムソート機能-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.0/js/jquery.tablesorter.min.js"></script>
    <script>
    document.addEventListener("turbolinks:load", function() {
      $('#sort-table').tablesorter();
    });
    </script>
    <!--画像スライダー-->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script>
    $(document).ready(function() {
      $('.slider').slick({
      arrows: false,
      autoplay: true,
      autoplaySpeed: 4000,
      });
    });
    </script>
    <!--作曲家年表-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <!--// インクリメンタル検索-->
    <script>
    $(document).on('turbolinks:load', function () {
      $('.js-text_field').on('keyup', function () {
        search();
        console.log($('.js-text_field').val())
        if ($('.js-text_field').val() === '') {
          $('.search-result').fadeOut(500)
        } else {
          $('.search-result').show()
        }
      });
      $("#model").change(function() {
        search();
      });
    });
    function search() {
      let content = $('.js-text_field').val();
      let target = $('#model option:selected').val();
      $.ajax({
        type: 'GET', // リクエストのタイプ
        url: '/search', // リクエストを送信するURL
        data:  { content: content, model: target }, // サーバーに送信するデータ
        dataType: 'json' // サーバーから返却される型
      })
      .done(function (data) {
        // 表示する文字列を作る
        let search_result_data = data.join("<br>")
        $(".search-result").html(search_result_data);
      })
    };
    </script>
  </head>

  <body>
    <header class="shadow-sm">
      <!-- コピーした kit code -->
      <script src="https://kit.fontawesome.com/c4ee658136.js" crossorigin="anonymous"></script>
      <nav class="navbar navbar-expand-lg navbar-light bg-header fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand mr-0 mr-md-2" href="/"><%= image_tag 'vspp.png',:size =>"70x50" %></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <% if admin_signed_in? %>
              <ul class="navbar-nav mr-auto">
                <li class="nav-item pr-5 text-danger">
                  管理者ログイン中
                </li>
                <li class="nav-item px-4 text-nowrap">
                  <%= link_to " 申請楽曲", admin_root_path, method: :get, class: 'btn btn-outline-dark' %>
                </li>
                <li class="nav-item px-4 text-nowrap">
                  <%= link_to " 楽曲一覧", admin_musical_pieces_path, method: :get, class: 'btn btn-outline-dark' %>
                </li>
                <li class="nav-item px-4 text-nowrap">
                  <%= link_to " 作曲家一覧", admin_composers_path, method: :get, class: 'btn btn-outline-dark' %>
                </li>
                <li class="nav-item px-4 text-nowrap">
                  <%= link_to " 会員一覧", admin_members_path, method: :get, class: 'btn btn-outline-dark' %>
                </li>
                <li class="nav-item pl-4 text-nowrap">
                  <%= link_to " ログアウト", destroy_admin_session_path, method: :delete, class: 'btn btn-outline-dark' %>
                </li>
              </ul>
            <% elsif member_signed_in? %>
              <ul class="navbar-nav mr-auto">
                <li class="nav-item pr-2 my-auto text-nowrap">
                  <%= link_to " タイムライン", timeline_members_path, method: :get, class: "fas fa-clock btn btn-outline-dark" %>
                </li>
                <li class="nav-item pr-2 my-auto text-nowrap">
                  <%= link_to " 利用者", members_path, method: :get, class: "fas fa-users btn btn-outline-dark" %>
                </li>
                <li class="nav-item pr-2 my-auto text-nowrap">
                  <%= link_to " 楽曲", musical_pieces_path, method: :get, class: 'fas fa-music btn btn-outline-dark' %>
                </li>
                <li class="nav-item pr-2 my-auto text-nowrap">
                  <%= link_to " 作曲家", composers_path, method: :get, class: 'fas fa-portrait btn btn-outline-dark' %>
                </li>
                <li class="nav-item my-auto text-nowrap">
                  <%= link_to " お問い合わせ", inquiry_path, method: :get, class: 'fas fa-paper-plane btn btn-outline-dark' %>
                </li>
              </ul>
              <ul class="navbar-nav">
                <li class="nav-item pr-0 my-auto">
                  <%= render 'member/searches/form' %>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <% if current_member.profile_image.attached? %>
                      <%= image_tag current_member.profile_image.variant(combine_options:{gravity: :center, resize:"50x50^", crop:"50x50+0+0"}).processed, class: "rounded-circle" %>
                    <% else %>
                      <%= image_tag 'no_image.jpg', class: "rounded-circle", size: '50x50' %>
                    <% end %>
                    <%= current_member.nickname.truncate(14) %>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <%= link_to " マイページ", my_page_members_path, method: :get, class: 'fas fa-user dropdown-item' %>
                    <%= link_to " マイリスト", lists_path, method: :get, class: 'fas fa-list dropdown-item' %>
                    <div class="dropdown-divider"></div>
                    <%= link_to " ログアウト", destroy_member_session_path, method: :delete, class: 'fas fa-sign-out-alt dropdown-item' %>
                  </div>
                </li>
              </ul>
            <!--管理者でも会員でもログインしていないとき-->
            <% else %>
              <ul class="navbar-nav mr-auto">
                <li class="nav-item px-2 text-nowrap">
                  <%= link_to " About", home_about_path, method: :get, class: 'fas fa-question btn btn-outline-dark' %>
                </li>
                <li class="nav-item px-2 text-nowrap">
                  <%= link_to " 楽曲", musical_pieces_path, method: :get, class: 'fas fa-music btn btn-outline-dark' %>
                </li>
                <li class="nav-item px-2 text-nowrap">
                  <%= link_to " 作曲家", composers_path, method: :get, class: 'fas fa-portrait btn btn-outline-dark' %>
                </li>
                <li class="nav-item px-2 text-nowrap">
                  <%= link_to " お問い合わせ", inquiry_path, method: :get, class: 'fas fa-paper-plane btn btn-outline-dark' %>
                </li>
                <li class="nav-item px-2 text-nowrap">
                  <%= link_to " 新規登録", new_member_registration_path, class: 'fas fa-user-plus btn btn-danger' %>
                </li>
              </ul>
              <ul class="navbar-nav">
                <li class="nav-item pl-2 text-nowrap">
                  <%= link_to " サインイン", new_member_session_path, class: 'fas fa-sign-in-alt btn btn-info' %>
                </li>
              </ul>
            <% end %>
          </div>
        </div>
      </nav>
    </header>
    <div id="wrap">
      <div class="search-result text-center bg-header text-dark js-searchable">
      </div>
      <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %> alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="閉じる">
          <span aria-hidden="true">&times;</span>
        </button>
        <strong>
          <%= value %>
        </strong>
      </div>
    <% end %>
    <%= yield %>
    </div>
    <footer class='fixed-bottom' id='footer-wrap'>
      <p class="footer-text">© 2021 TAIKI YANAGISAWA</p>
    </footer>
  </body>
</html>
