<!DOCTYPE html>
<html>
  <head>
    <title>VSPP</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="shadow-sm">
      <!-- コピーした kit code -->
      <script src="https://kit.fontawesome.com/c4ee658136.js" crossorigin="anonymous"></script>
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand" href="/"><%= image_tag 'vspp.png',:size =>"70x50" %></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if admin_signed_in? %>
                <li class="nav-item pr-5">
                  管理者ログイン中
                </li>
                <li class="nav-item px-4 text-nowrap">
                  <%= link_to " 申請楽曲", admin_root_path, method: :get, class: 'btn btn-outline-dark' %>
                </li>
                <li class="nav-item px-4 text-nowrap">
                  <%= link_to " 楽曲一覧", admin_musical_pieces_path, method: :get, class: 'btn btn-outline-dark' %>
                </li>
                <li class="nav-item px-4 text-nowrap">
                  <%= link_to " 作曲家一覧", admin_composers_path, method: :get, class: 'btn btn-outline-dark' %>
                </li>
                <li class="nav-item pl-4 text-nowrap">
                  <%= link_to " ログアウト", destroy_admin_session_path, method: :delete, class: 'btn btn-outline-dark' %>
                </li>
              <% elsif member_signed_in? %>
                <ul class="navbar-nav">
                  <li class="nav-item text-nowrap">
                    <%= link_to " タイムライン", timeline_members_path, method: :get, class: "fas fa-users btn btn-outline-dark" %>
                  </li>
                  <li class="nav-item text-nowrap">
                    <%= link_to " マイリスト", lists_path, method: :get, class: 'fas fa-list btn btn-outline-dark' %>
                  </li>
                  <li class="nav-item text-nowrap">
                    <%= link_to " 楽曲一覧", musical_pieces_path, method: :get, class: 'fas fa-music btn btn-outline-dark' %>
                  </li>
                  <li class="nav-item text-nowrap">
                    <%= link_to " 作曲家一覧", composers_path, method: :get, class: 'fas fa-portrait btn btn-outline-dark' %>
                  </li>
                  <li class="nav-item text-nowrap">
                    <%= link_to " ログアウト", destroy_member_session_path, method: :delete, class: 'fas fa-sign-out-alt btn btn-outline-dark' %>
                  </li>
                </ul>
                <li class="nav-item pr-5 text-nowrap">
                  <%= attachment_image_tag current_member, :profile_image, :fill, 50, 50, fallback: "no_image.jpg", size: '50x50'%>
                  <%= link_to my_page_members_path, method: :get, class: 'text-dark' do %>
                    <%= current_member.nickname %>
                  <% end %>
                </li>
                <!--<form class="form-inline">-->
                <!--  <input class="form-control mr-sm-2" type="search" aria-label="Search">-->
                <!--  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search </button>-->
                <!--</form>-->
              <!--管理者でも会員でもログインしていないとき-->
              <% else %>
                <li class="nav-item px-4 text-nowrap">
                  <%= link_to " About", home_about_path, method: :get, class: 'fas fa-question btn btn-outline-dark' %>
                </li>
                <li class="nav-item px-4 text-nowrap">
                  <%= link_to " 楽曲一覧", musical_pieces_path, method: :get, class: 'fas fa-music btn btn-outline-dark' %>
                </li>
                <li class="nav-item px-4 text-nowrap">
                  <%= link_to " 作曲家一覧", composers_path, method: :get, class: 'fas fa-portrait btn btn-outline-dark' %>
                </li>
                <li class="nav-item px-4 text-nowrap">
                  <%= link_to " 新規登録", new_member_registration_path, class: 'fas fa-user-plus btn btn-outline-dark' %>
                </li>
                <li class="nav-item pl-4 text-nowrap">
                  <%= link_to " ログイン", new_member_session_path, class: 'fas fa-sign-in-alt btn btn-outline-dark' %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <!--検索窓部分テンプレート-->
    <%= %>
    <div class='col-md-8 offset-md-4'>
      <%= render 'member/searches/form' %>
    </div>
    <%= yield %>
    <footer>
      フッター文章
    </footer>
  </body>
</html>
